@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: black;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

@theme {
  --color-liminal-yellow: #FFEB01;
}

@layer base {
  button {
    font-family: "Special Elite";
  }

  h1 {
    font-family: "Special Elite";
  }
}